@import '@/assets/css/main.scss';
.record_itembox{
  @include wh(calc(100%),auto,$bg-color-base);
  @include bStyle(left,$bg-primary,9px);
  padding: 12px 10px;
  border-radius: 6px;
  overflow: hidden;
  &.active{
    border-color: rgba(63,136,251,0.55);
  }
  .itembox_box{
    @include wh(100%,100%);
    &.top{
      @include flexStyle(row,space-between,flex-start);
    }
    &.center{
      @include flexStyle(row,space-between);
    }
  }
  .item_left{
    @include wh(calc(100% - 80px),100%);
    .item_text{
      @include sc(14px,$font999,400,left);
      line-height: 20px;
      padding:4px 0;
      &.title{
        @include sc(16px,$font333,500,left);
        line-height: 22px;
      }
    }
  }
  .item_right{
    @include wh(80px,100%);
    @include flexStyle(row,flex-end);
    .item_btn{
      @include wh(80px,28px,$bg-primary);
      @include sc(14px,$fontwhite);
      @include flexStyle(row);
      border-radius: 16px;
    }
    .item_state{
      @include sc(14px,$font999);
    }
  }
  .itemBtn_box{
    @include wh(100%,38px);
    @include flexStyle(row,flex-end,center);
    .item_btn{
      @include wh(144px,38px,$bg-primary);
      @include flexStyle();
      box-sizing: border-box;
      border-radius: 19px;
      @include sc(16px,$fontwhite);
      margin:0 8px;
      &.cancel{
        @include wh(144px,38px);
        border: 1px solid $bg-primary;
        background-color: $bg-color-base;
        color:$font-primary;
        &:active{
          background-color:rgba($color: $bg-primary, $alpha: 0.1);
          border-color: rgba($color: $bg-primary, $alpha: 0.1);
        }
      }
      &:active{
        background-color:rgba($color: $bg-primary, $alpha: 0.75);
      }
    }
  }
}