@import '@/assets/css/main.scss';
.myCard_container{
  @include location();
  @include wh(100%,auto,$bg-color-base);
  .myCard_box{
    @include wh(100%,auto,$bg-color-base);
    overflow-y: auto;
    padding: 15px;
  }
  .myCard_item{
    @include wh(100%,auto);
    .item_title{
      @include sc(16px,$font333,400,left);
      line-height: 22px;
    }
    .item_box{
      @include wh(100%,auto);
      @include pStyle(top,12px);
    }
    .item_card {
      @include wh(calc(100% - 2px),auto);
      border:1px solid #8D4AFC;
      border-radius: 8px;
      overflow: hidden;
      @include mStyle(bottom,10px);
    }
  }
  .card_info{
    @include wh(100%,100px);
    background-image: url('https://changchong.oss-cn-hangzhou.aliyuncs.com/gzh/mine/card.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 15px;
    @include flexStyle(column,space-between,center,'');
    &.info_noData{
      @include flexStyle(column,center,center,'');
      @include sc(20px,$fontwhite,500);
    }
  }
}